<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Y1234 -->
      <package
            uri="Y1234"
            class="Y1234.Y1234Package"
            genModel="Y1234.genmodel"/>
   </extension>

</plugin>
